# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
.venv-1/
.venv-2/
venv/

# Jupyter
.ipynb_checkpoints/

# OS/editor
.DS_Store
Thumbs.db
.vscode/

# Outputs
outputs/
reports/figures/
figures/
